*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:#1a1b1c ;

}
nav{
    padding: 10px;
    background-color: #5e544a;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.hamburger-menu{
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
    padding:1rem;
}
.ham-bar{
    width: 70%;
    height: 4px;
    background-color: #ffff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .8s, top .6s;
}
.bar-top{
    top:25%;
}
.bar-bot{
    top:75%;
}
.hamburger-menu.active .bar-top{
    transform: translate(-50%, -50%) rotate(-315deg);
    top:50%;
}
.hamburger-menu.active .bar-mid{
    opacity: 0;
}
.hamburger-menu.active .bar-bot{
    transform: translate(-50%, -50%) rotate(-225deg);
    top:50%;
}
.off-screen-menu{
    position: fixed;
    top: -100%;
    background-color:  #433c36 ;
    height: 100vh;
    width: 100%;
    transition: top .5s ;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -2;
}
.off-screen-menu.active{
    top:0;
}
a{
    text-decoration: none;
    color:#fff;
    padding:20px;
}